{% extends 'tmp/login.html' %}
{% block base %}

	<h1 align="center">Login</h1>
<form method="post">
{% csrf_token %}
	<table align="center">
        <tr>
			<td>User Name</td>
			<td><input type="text" class="form-control" required="" name="tun"></td>
		</tr>
		

		<tr>
			<td>Password</td>
			<td><input type="Password" class="form-control" required="" name="tpass"></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
{#			<td> <a href="">Forgot Password</a> </td>#}
		</tr>

<tr>
			<td></td>
			<td><input type="submit" class="btn btn-blue" value="Login" name=""></td>
		</tr>
<tr>
			<td></td>
			
			<td><a href="">Sign Up</a>  </td>
		</tr>

	</table>
	
</form>
{% endblock %}